h1 {
  font-size: 140%;
  padding-left: 3vw;
}

section {
  padding-left: 4vw;
  padding-right: 4vw;
}

section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accordion {text-align: left;}
.accordion .inner {display: none;}
.accordion .inner li ul {display: none;}
.accordion p {cursor: pointer; padding: 10px 30px 10px 15px;}
.accordion p.ac {background: #CCCCCC;}
.accordion .inner li ul li {padding: 10px 15px;}
.accordion .inner li > p {cursor: pointer;}
.accordion .inner li.content {background: #E5E5E5;}
.accordion .inner li.content li:nth-child(1) {background: #CCCCCC;}

.accordion p {
  position: relative;
}

.accordion p:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 2vw;
  color: #777;
  position: absolute;
  top: 50%;
  left: 94%;
  margin-top: -1.25vw;
}

.accordion p.active:after {
  content: "\02796"; /* Unicode character for "minus" sign (-) */
}
